# Ignore virtual environment directories
env/
venv/

# Ignore python bytecode
__pycache__/

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore cached training model
# *.pkl
data/output-20000101-20241123_rf.pkl
data/output-20000101-20241123.pkl
data/output-20000101-20241123_rf_saved.pkl
